/* Сброс базовых отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  font-weight: 700; /* Bold */
}

/* Общие стили для страницы */
body {
    background-color: #121212; /* Тёмный фон */
    color: white;             /* Белый текст */
    display: flex;
    flex-direction: column;   /* Размещаем блоки вертикально */
    align-items: center;      /* Выравнивание по центру */
    justify-content: center;  /* Центрирование по вертикали */
    height: 100vh;            /* Высота окна */
    margin: 0;                /* Убираем отступы браузера */
}

/* Общие стили для адаптивности */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Убедитесь, что ширина контента адаптируется */
.input-form, .receipt, .actions {
    max-width: 360px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

/* Основной блок чека */
.receipt {
    background-color: rgba(28,28,30,255);
    padding: 20px;
    border-radius: 10px;
    width: 354px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    position: relative;
    margin-bottom: 20px; /* Отступ снизу, чтобы иконки внизу не налезали */
}

/* Шапка чека: логотип + кнопка закрытия */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.bank-logo img {
    width: 80px; /* Уменьшенный размер */
    height: auto;
}

.close-icon {
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight:   100;
}

/* Иконка успеха */
.success-icon {
    width: 85px; /* Немного уменьшенный размер */
    height: 85px; /* Немного уменьшенный размер */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background: none; /* Без фона, т.к. у нас картинка */
}

.success-icon img {
    width: 135%; /* Немного уменьшенный размер изображения */
    height: auto;
    border-radius: 50%;
}

.success-text {
    color: #0FA958;  /* Зеленый цвет */
    font-size: 19px;
    
    margin: 5px 0 10px 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700; 
}

/* Сумма операции */
.amount {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Описание под суммой */
.desc {
    color: #AAAAAA;
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
}

/* Пунктирная линия под desc */
.desc::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: repeating-linear-gradient(
        to right,
        #88888813,
        #88888883 10px,
        transparent 10px,
        transparent 20px
    );
    background-size: 20px 1px;
}

/* Детали операции */
.details {
    margin: 10px 0;
    font-size: 14px;
}

.details p {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.details p strong {
    color: #888888;
}

/* Разделительная линия */
.separator {
    height: 1px;
    background: repeating-linear-gradient(
        to right,
        #88888800,
        #88888895 10px,
        transparent 10px,
        transparent 20px
    );
    background-size: 20px 1px;
    margin: 15px 0;
}

/* Информация о переводе */
.transfer-info {
    color: #AAAAAA;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    line-height: 1.4;
}

/* Блок с иконками и подписями под чеком */
.actions {
    display: flex;
    justify-content: space-around;
    width: 340px; /* Ширина, совпадающая с receipt */
}

.action {
    text-align: center;
}

.action img {
    width: 37px; /* Подбери нужный размер иконок */
    height: auto;
    margin-bottom: 5px;
}

.action p {
    color: #FFFFFF;
    font-size: 12px;
}

/* Удаляем шрифт Arial */
body, .success-text, .desc, .details, .transfer-info, .action p, input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700; /* Bold */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    body {
        background-size: cover;
    }

    .input-form input, .input-form button {
        width: 100%;
        margin-bottom: 10px;
    }

    .receipt {
        width: 354px; /* Ширина, совпадающая с ПК */
        padding: 20px; /* Возвращаем отступы */
    }

    .success-icon {
        width: 105px; /* Немного уменьшенный размер для мобильных */
        height: 105px;
        margin: 0 auto;
    }

    .success-icon img {
        width: 155%; /* Немного уменьшенный размер изображения */
    }

    .actions {
        display: flex;
        justify-content: space-around;
        width: 360px; /* Увеличенная ширина */
    }

    .actions .action img {
        width: 45px; /* Увеличенный размер иконок */
        height: auto;
        margin-bottom: 10px;
    }

    .actions .action p {
        color: #FFFFFF;
        font-size: 14px; /* Увеличенный шрифт */
    }
}

/* Адаптивные стили для устройств с шириной экрана до 480px */
@media (max-width: 480px) {
    body {
        flex-direction: column;
        padding: 10px;
    }

    .input-form, .receipt, .actions {
        width: 100%;
        padding: 10px;
    }

    .receipt {
        width: 354px; /* Ширина, совпадающая с ПК */
        padding: 20px; /* Возвращаем отступы */
        font-size: 14px;
    }

    .success-icon {
        width: 125px; /* Немного уменьшенный размер для маленьких экранов */
        height: 125px;
    }

    .success-icon img {
        width: 175%; /* Немного уменьшенный размер изображения */
    }

    .actions {
        display: flex;
        justify-content: space-around;
        width: 360px; /* Увеличенная ширина */
    }

    .actions .action img {
        width: 45px; /* Увеличенный размер иконок */
        height: auto;
        margin-bottom: 10px;
    }

    .actions .action p {
        color: #FFFFFF;
        font-size: 14px; /* Увеличенный шрифт */
    }
}